@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

:root {
  --background: #01001d;
}

::selection {
  background-color: rgb(37 99 235);
  color: white;
}

body {
  font-family: "Inter", sans-serif;
}
