@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

:root {
  --foreground: #333;
}

::selection {
  background-color: var(--foreground);
  color: var(--background);
}

body {
  font-family: "Inter", sans-serif;
}
